
<!-- Catlogo de productos a seleccionar -->
<!-- <br/><br/>
<h2 class="text-center">Catálogo de productos</h2>
<br>
<div class="container ">
     <div class="row align-items-start d-flex justify-content-center">
        <div *ngFor="let key of  pedidos">
                <div class="col-4">
                    <div class="card mb-3 p-2" style="width: 15rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{key.fecha}}</h5>
                        <p class="card-text">{{key.orden}}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{key.total}}</li>
                        </ul>
                        </div>
                        <div>
                            <button (click)="agregarCarrito()" class="btn-primary mr-2">Añadir</button>
                            <button (click)="quitarCarrito()" class="btn-danger ml-2">Quitar</button>
                        </div>
    
                    </div>
                </div>
        </div>
    </div>
</div>
 -->
